.icon-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.summer i {
    color: rgb(255, 103, 2);
}

.season-display.winter i {
    color: rgb(97, 15, 97);
}

.summer {
    background-color: rgba(54, 207, 54, 0.76);
}

.winter {
    background-color: rgba(0, 0, 255, 0.651);
}